@model MvcAppSearch.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm("Login", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login to your Account</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
           
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    
    
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Content.Script("jquery-2.0.3.js", Url)
    @Content.Script("jquery-2.0.3.min.js", Url)
}
