<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<body style="background: white;">
    <nav>
        <ul id="menu2">
            <li>@Html.ActionLink("DR Form 1a", "Form1a", "Home")</li>
            <li>@Html.ActionLink("DR Form 1b", "Form1b", "Home")</li>
            <li>@Html.ActionLink("DR Form 2a", "Form2a", "Home")</li>
            <li>@Html.ActionLink("DR Form 2b", "Form2b", "Home")</li>
            <li>@Html.ActionLink("DR Form 3a", "Form3a", "Home")</li>
        </ul>
    </nav>

    <div style="position:relative; top:-125px; left:350px;">
        <img src="/images/JSO Correctional Badge.png" height="300" width="300" alt="JSO Corrections Badge" />
    </div>

</body>